<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('cdn', filename='bootstrap/dist/css/bootstrap.min.css') }}" />
	
	<link rel="stylesheet" href="static/demo.css" />

	<title>db testing</title>

	<script>
		window.paths = {};
		window.paths.cdn = "{{ url_for('cdn', filename='') }}";
	</script>
	<script data-main="static/demo" src="{{ url_for('cdn', filename='requirejs/require.js') }}"></script>

</head>
<body>

<div class="container-fluid">
	<div class="page-header">
		<h2>db.js testing <span id="status" class="label label-warning">Initialising...</span></h2>
	</div>

	<div class="row">

		<div id="content" class="col-sm-12">
			
		</div>

	</div>

</div>

</body>
</html>